@model Examen.Coppel.CalculoSueldo.ViewModels.MovimientoMesViewModel

@{
    ViewData["Title"] = "Calcular Sueldo";
}

<h1>@ViewData["Title"]</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroEmpleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroEmpleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SueldoBruto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SueldoBruto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Isr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Isr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValesDespensa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValesDespensa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SueldoTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SueldoTotal)
        </dd>
    </dl>

    <form asp-action="">
        <a asp-action="Index">Regresar a Lista Movimientos</a>
    </form>
</div>